<!DOCTYPE html>
<html>
<head>
    <title>DIA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>D I A</h1>
        <img src="{{ url_for('static', filename='images/logoZinergia.png') }}" alt="Logo Zinergia" class="logo">

    </div>

    <div class="menu">
        <a href="/home">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>
        <img src="{{ url_for('static', filename='images/logistica.jpg') }}" alt="About US"  class="header-image">
    <br>
    <h1 class="main-heading">Innovación en Logística</h1>

    <div class="container">     
        <div class="card-container">
            <div class="card-about" id="about-us">
                <img src="{{ url_for('static', filename='images/aboutUs.jpg') }}" alt="About Us Icon" class="card-icon">
                <h2>SOBRE NOSOTROS</h2>
                <p>En Zinergia combinamos décadas de conocimiento en logística con la tecnología de inteligencia artificial más avanzada. Nuestro equipo está compuesto por líderes en el sector, ingenieros de software de primera línea y expertos en IA, todos dedicados a ofrecer soluciones que no solo cumplen, sino que superan las expectativas.</p>
            </div>
            
            <div class="card-about" id="our-solution">
                <img src="{{ url_for('static', filename='images/solucion.jpg') }}"  alt="Our Solution Icon" class="card-icon">
                <h2>NUESTRA SOLUCION</h2>
                <p>Nuestra plataforma utiliza algoritmos de inteligencia artificial de vanguardia para optimizar la asignación de viajes, garantizando la máxima eficiencia y reduciendo significativamente los costos operativos. Nuestra IA analiza innumerables variables en tiempo real para identificar la ruta más eficiente, teniendo en cuenta el tráfico, las condiciones climáticas, y las especificaciones de carga. </p>
            </div>
            
            <div class="card-about" id="success-stories">
                <img src="{{ url_for('static', filename='images/exito.jpg') }}"  alt="Success Stories Icon" class="card-icon">
                <h2>CASOS DE EXITO</h2>
                <p>Nuestros casos de éxito hablan por sí mismos, demostrando reducciones significativas en costos, mejoras en tiempos de entrega, y un aumento en la satisfacción del cliente.</p>
            </div>
        </div>
    </div>



    <div class="footer">
        <p>© 2024 Derechos Reservados</p>
    </div>
</body>
</html>

