<!DOCTYPE html>
<html>
<head>
    <title>DIA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>D I A</h1>
        <img src="{{ url_for('static', filename='images/logoZinergia.png') }}" alt="Logo Zinergia" class="logo">

    </div>
    
    <div class="menu">
        <a href="/app1">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#contact">CONTACT</a>
    </div>
    <br><br>

     <div class="card-container">
        <a href="/app1" class="card-link">
            <div class="card" tabindex="0">
                <img src="{{ url_for('static', filename='images/porAsignar.jpg') }}" alt="Imagen por Asignar" class="circular">
                <hr>
                <div class="card-content">
                    <h2>PLANAS POR ASIGNAR</h2>
                    <ul class="features">
                        <li>✓ En Patio</li>
                        <li>✓ Cargadas</li>
                        <li>✓ Ternium</li>
                        <li> </li>
                        <li> </li>
                    </ul>
                    <button>Ver Ahora</button>
                </div>
            </div>
        </a>
        <div class="card" tabindex="0">
            <img src="{{ url_for('static', filename='images/historicoAsignado.jpg') }}" alt="Imagen por Asignar" class="circular">
            <hr>
            <div class="card-content">
            <h2>HISTORICO ASIGNADO</h2>
            <ul class="features">
                <li>✓ Ultimos 45 Dias</li>
                <li>✓ Ternium</li>
                <li>✓ Salida NYC</li>
                <li> </li>
                <li> </li>
            </ul>
            <button>Ver Ahora</button>
            </div>
        </div>
        <div class="card" tabindex="0">
            <img src="{{ url_for('static', filename='images/calOperador.jpg') }}" alt="Imagen por Asignar" class="circular">
            <hr>
            <div class="card-content">
            <h2>CALIFICACION OPERADOR</h2>
            <ul class="features">
                <li>✓ Siniestralidad</li>
                <li>✓ Liquidacion (en 45 dias)</li>
                <li>✓ Calificacion SAC</li>
                <li>✓ Calificacion Conducta</li>
            </ul>
            <button>Ver Ahora</button>
            </div>
        </div>
        <div class="card" tabindex="0">
            <img src="{{ url_for('static', filename='images/ajuste.jpg') }}" alt="Imagen por Asignar" class="circular">
            <hr>
            <div class="card-content">
            <h2>OTRO</h2>
            <ul class="features">
                <li>✓ En proceso</li>
                <li>✓ En proceso </li>
                <li>✓ En proceso </li>
                <li> </li>
                <li> </li>
                <li> </li>
            </ul>
            <button>Ver Ahora</button>
            </div>
        </div>
    </div>




    <div class="footer">
        <p>© 2024 Derechos Reservados</p>
    </div>
</body>
</html>

